{% block update %}
    <div style="text-align: center" class = "center">
        <div class="form-popup" id="myUpdateForm" style="width: 100%; ">
            <form method="POST" action="{% url 'blog:update' %}" class="form-container">
                {% csrf_token %}
                <h1>Update Blog</h1>

                <div style = "text-align: left;width:100%">
                    <label for id="BlogName" style = "text-align: left;"><b>Blog Id: </b></label>
                    <p>{{ form.bid }}</p>

                    <label for id ="blog_content"><b >Content:  </b></label>
                    <p>{{ form.bcontent }}</p>
                </div>

                <button type="submit" class="btn btn_update" >Update</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
    </div>
{% endblock %}